.gallery-section {
	padding-bottom: 20px;
	margin-bottom: 65px;
	@include media ('>=tablet') {
		padding-bottom: 30px;
		margin-bottom: 80px;
	}
	.gallery-holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		.tab-item {
			width: 100%;
			display: block !important;
			margin: 0;
		}
		.trainers-content {
			max-width: 100%;
		}
	}
	.tabset {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0 auto 30px 0;
		@include media ('>=tablet') {
			flex-direction: row;
			margin: 0 0 30px;
		}
		li {
			@include media ('>=tablet') {
				margin: 0 10px;
			}
		}
	}
	
	.gallery-carousel {
		position: relative;
		margin-bottom: 10px;
		@include media ('>=tablet') {
			margin-bottom: 15px;
		}
		.slide-holder {
			max-width: 100%;
			height: 61vw;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include media ('>=widescreen') {
				height: 800px;
			}
		}
	}
	.slider-nav {
		position: relative;
		
		.slick-track {
			@include media ('>=tablet') {
				padding: 16px 0;
			}
			
		}
		.slick-list {
			margin: 0 -5px;
			position: relative;
			
			@include media ('>=tablet') {
				margin: 0 -15px;
				&:after,
				&:before {
					content: '';
					position: absolute;
					top: -16px;
					right: 33.2%;
					width: 1px;
					height: 26.5vw;
					background: #e0e0e0;
					z-index: -1;
					@include media ('>=widescreen') {
						height: 336px;
					}
				}
				&:after {
					left: 33.2%;
				}
			}
		}
		.slide-nav-holder {
			height: 17vw;
			background-repeat: no-repeat;
			background-size: cover;
			
			@include media ('>=widescreen') {
				height: 250px;
			}
		}
		.slick-slide {
			margin: 0 5px;
			transition: transform .5s;
			@include media ('>=tablet') {
				margin: 0 15px;
			}
		}
		.slick-center {
			transform: translateY(10px);
			@include media ('>=tablet') {
				transform: translateY(30px);
			}
		}
		.slick-prev, 
		.slick-next {
			bottom: -40px;
			cursor: pointer;
			@include media ('>=tablet') {
				bottom: -60px;
			}
			&:before {
				color: #aaa;
			}
			&:hover {
				&:before {
					color: #5393dd;
				}
			}
		}
	}
}