#wrapper {
    position: relative;
    overflow: hidden;
    min-height: 1000px;
}

h2 {
    @include media ('>=tablet') {
        font-size: 2.5rem;
    }
    @include media ('>=desktop') {
        font-size: 3.5rem;
    }
    @include media ('>=widescreen') {
        font-size: 4.6rem;
    }
}

a {
    transition: $transition-base;
    &:hover {
        text-decoration: none;
    }
}

.bg-decore-1 {
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    z-index: -5;
    @include media ('>=phone') {
        top: 180px;
    }
    @include media ('>=tablet') {
        top: 0;
        left: auto;
        right: 0;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 400px;
        transform: translate(-45%, 0);
        height: 300px;
        background-image: url('images/icon12.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 50%;
        @include media ('>=phone') {
            width: 400px;
            transform: translate(-55%, 0);
            height: 400px;
        }
        @include media ('>=tablet') {
            left: auto;
            right: 0;
            transform: translate(-25%, 0);
        }
        @include media ('>=desktop') {
            width: 500px;
            height: 500px;
            
        }
        @include media ('>=widescreen') {
            width: 600px;
            height: 600px;
            right: 8%;
        }
    }
    &:after {
        transform: translate(-30%, 0);
        top: 60px;
        background-image: url('images/img10.png');
        @include media ('>=tablet') {
            transform: translate(-5%, 0);
        }
    }
}

.line-decore-1 {
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        background-image: url(images/decore-line2.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -10;
        @include media ('>=desktop') {
            top: 100%;
        }
        @include media ('>=widescreen') {
            top: 91%;
        }
    }
    &:after {
        background-image: url('images/decore-line1.svg');
        z-index: -1;
    }
}

.line-decore-2 {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        background-image: url('images/decore-line3.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -10;
        @include media ('>=desktop') {
            top: 100%;
            width: 62%;
        }
        @include media ('>=widescreen') {
            top: 110%;
        }
    }
}

.line-decore-3 {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        background-image: url('images/decore-line4.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -10;
    }
}

.btn {
    font-family: $font-family-gotham;
    @include media ('>=tablet') {
        font-size: 1rem;
        padding: .3rem .6rem;
    }
}


.intro-carousel {
    .container {
        position: relative;
    }
    .carousel {
        .carousel-inner {
            overflow: visible;
        }
        .carousel-item {
            min-height: 600px;
            transition: opacity .5s ease-in-out;
            @include media ('>=phone') {
                min-height: 700px;
            }
            @include media ('>=tablet') {
                display: flex;
                min-height: 450px;
            }
        }
        .carousel-indicators {
            li {
                display: none;
                opacity: 0;
                transition: opacity .5s ease-in-out;
                &.active {
                    display: inline-block;
                    opacity: 1;
                }
            }
        }
        .txt-holder {
            font-size: .8rem;
            max-width: rem-calc(520);
            @include media ('>=tablet') {
                max-width: 50%;
                padding: rem-calc(40 30 0 0);
                font-size: .9rem;
            }
            @include media ('>=desktop') {
                max-width: none;
                width: 40%;
                padding: rem-calc(120 30 0 0);
                font-size: .9rem;
            }
            @include media ('>=desktop') {
                width: 43%;
            }
            @include media ('>=desktop') {
                width: 55%;
            }
            @include media ('>=widescreen') {
                width: 50%;
            }
        }
        h2 {
            font-weight: 300;
            font-family: $font-family-bebas;
            max-width: rem-calc(240);
            @include media ('>=tablet') {
                max-width: rem-calc(350);
            }
            @include media ('>=desktop') {
                margin: 0 0 1rem;
                max-width: rem-calc(450);
            }
            @include media ('>=widescreen') {
                max-width: rem-calc(600);
            }
        }
        p {
            @include media ('>=desktop') {
                margin: 0 0 2rem;
            }
        }
        .img-holder {
            text-align: center;
            position: relative;
            z-index: 10;
            @include media ('>=tablet') {
                max-width: 55%;
            }
            @include media ('>=desktop') {
                padding: 5% 0;
            }
            img {
                display: block;
                max-width: 320px;
                margin: 0 auto;
                @include media ('>=phone') {
                    max-width: 480px;
                }
                @include media ('>=desktop') {
                    transform: scale(1.2);
                    max-width: auto;
                }
                @include media ('>=widescreen') {
                    transform: scale(1.4);
                }
            }
        }
        .carousel-control {
            display: flex;
            margin: rem-calc(0 0 20px);
        }
        .slide-info {
            margin: rem-calc(0 15px);
        }
        .carousel-control-prev,
        .carousel-control-next {
            color: $gray-900;
            position: static;
            width: auto;
            &:hover {
                color: $teal;
            }
        }
    } 
}

.categoty-holder {
    margin: rem-calc(0 0 20);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 40px;
        left: 85px;
        width: 120px;
        height: 70%;
        background-color: $green;
        transform: skewX(-40deg);
        z-index: -2;
        @include media ('>=tablet') {
            top: 60px;
            height: 60%;
        }
        @include media ('>=desktop') {
            top: 80px;
        }
        @include media ('>=widescreen') {
            top: 100px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/icon2.svg');
        background-repeat: no-repeat;
        background-position: 18vw 50%;
        z-index: -1;
        @include media ('>=phone') {
            background-position: 80% 50%;
        }
        @include media ('>=desktop') {
            background-position: 10vw 60%;
        }
        @include media ('>=widescreen') {
            background-position: 50% 70%;
        }
    }
    &.decor-1 {
        h2 {
            color: $green;
        }
    }
    &.decor-2 {
        &:before {
            background-color: $orange;
        }
        &:after {
            background-image: url('images/icon3.svg');
        }
        h2 {
            color: $orange;
        }
    }
    &.decor-3 {
        &:before {
            background-color: $blue;
        }
        &:after {
            background-image: url('images/icon4.svg');
        }
        h2 {
            color: $blue;
        }
    }
    h2 {
        position: relative;
        padding: rem-calc(0 0 10);
        font-family: $font-family-bebas;
        margin: 0 0 1rem;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 18px;
            height: 5px;
            background-color: $gray-100;
            border-radius: 8px;
        }
    }
}

.category-list {
    font-family: $font-family-gotham;
    position: relative;
    z-index: 5;
    font-size: rem-calc(14);
    li {
        margin: rem-calc(0 0 5);
        @include media ('>=desktop') {
            margin: rem-calc(0 0 10);
        }
    }
    a {
        color: $gray-900;
        position: relative;
        &:hover {
            color: $white;
            &:before {
                opacity: 1;
            }
        }
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(100% + 10px);
            width: calc(100% + 10px);
            background-color: #081622;
            opacity: 0;
            transition: $transition-base;
            z-index: -1;
        }
    }
}

.more-btn {
    position: relative;
    font-size: rem-calc(12);
    font-family: $font-family-gotham;
    color: $gray-500;
    text-transform: uppercase;
    &:after {
        font-family: 'icomoon';
        display: inline-block;
        content: "\e906";
        margin: rem-calc(0 0 0 10);
    }
    &:hover {
        color: $teal;
    }
}

.carousel-features {
    display: flex;
    flex-wrap: wrap;
    .carousel-inner {
        overflow: visible;
        @include media ('>=desktop') {
            width: 77%;
        }
    }
    .carousel-item {
        transition: all 0s ease-in-out;
        * {
            opacity: 0;
            transition: opacity .4s ease-in-out;
        }
        &.active {
            * {
                opacity: 1;
            }
        }
    }
    h2 {
        font-family: $font-family-bebas;
        
        font-weight: 700;
        line-height: 1;
        color: $white;
        opacity: 0;
        
        .small-txt {
            font-size: rem-calc(60);
            display: block;
            text-shadow: 0 0 20px rgba(0, 0, 0, .15);
            @include media ('>=phone') {
                font-size: rem-calc(80);
            }
            @include media ('>=tablet') {
                font-size: rem-calc(100);
            }
            @include media ('>=desktop') {
                font-size: rem-calc(122);
            }
            @include media ('>=widescreen') {
                font-size: rem-calc(142);
            }
        }
        .lg-txt {
            margin: rem-calc(-10 0 0);
            font-size: rem-calc(100);
            display: block;
            text-shadow: 0 0 20px rgba(0, 0, 0, .15);
            @include media ('>=phone') {
                font-size: rem-calc(120);
            }
            @include media ('>=tablet') {
                font-size: rem-calc(140);
                margin: rem-calc(-20 0 0);
            }
            @include media ('>=desktop') {
                font-size: rem-calc(321);
                margin: rem-calc(-30 0 0);
            }
            @include media ('>=widescreen') {
                font-size: rem-calc(481);
            }
        }
    }
    .features-nav {
        display: flex;
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
        font-family: $font-family-gotham;
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        z-index: 20;
        @include media ('>=desktop') {
            width: 23%;
            flex-direction: column;
            padding: rem-calc(0 150 0 0);
        }
        li {
            width: 33.33%;
            position: relative;
            cursor: pointer;
            @include media ('>=desktop') {
                width: 100%;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
                .icon-holder {
                    &:before {
                        background-color: $orange;
                    }
                    
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%) skewX(-30deg);
                width: 60px;
                height: 100%;
                background-color: $yellow;
                z-index: -1;
                opacity: 0;
                transition: $transition-base;
            }
        }
        .icon-holder {
            min-height: rem-calc(75);
            position: relative;
            margin: rem-calc(0 0 15);
            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 32px;
                height: 5px;
                background-color: $gray-900;
                border-radius: 10px;
                transition: $transition-base;
            }
        }
    }
    .img-holder {
        margin: rem-calc(0 0 20);
        text-align: center;
        @include media ('>=desktop') {
            position: absolute;
            width: 400px;
            top: 0;
            right: 10%;
        }
        @include media ('>=widescreen') {
            width: 550px;
        }
    }
    .btn {
        margin: 0 0 0 50%;
        transform: translateX(-50%);
    }
}

.features-section {
    position: relative;
    padding: rem-calc(0 0 50);
    @include media ('>=desktop') {
        padding: rem-calc(0 0 100);
    }
    @include media ('>=widescreen') {
        padding: rem-calc(0 0 100);
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(images/icon5.svg);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 100vw;
        z-index: -1;
        @include media ('>=tablet') {
            background-size: contain;
        }
        @include media ('>=desktop') {
            background-size: 60%;
            background-position: 90% 0;
            top: -15%;
            height: 140%;
        }
        @include media ('>=widescreen') {
            background-size: 50%;
        }
    }
}

.test {
    height: 800px;
}